body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

header a {
  color: rgb(255, 220, 0);
  text-decoration: none;
  font-size: 17px;
  padding: 5px 8px;
  text-shadow: 2px 2px 2px rgba(69, 67, 67, 0.8);
  border-radius: 6px;
}

header li a:hover {
  color: rgb(77, 77, 77);
  background-color: rgb(255, 220, 0);
  text-shadow: 1px 1px 1px rgba(69, 67, 67, 0.7);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
}

nav li {
  margin-left: 20px;
}

#page-logo a {
  padding: 10px;
  font-family: "Oleo Script", sans-serif;
  color: rgb(255, 220, 0);
  font-size: 50px;
  text-decoration: none;
  text-transform: initial;
  text-shadow: 2px 2px 2px rgb(185, 83, 0);
}

#page-logo a:hover {
  color: rgb(245, 243, 50);
  text-shadow: 3px 3px 3px rgb(145, 66, 2);
}

footer {
  background: linear-gradient(70deg, rgb(24, 24, 24), rgb(25, 29, 29));
}

footer ul {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

footer li {
  width: 35px;
  height: 35px;
  margin: 0 10px;
}

footer img {
  width: 100%;
  height: 100%;
  /* transition: transform 0.3s ease; */
}

footer img:hover {
  /* transform: scale(1.03); */
  margin: 0;
}
